<section class="section__padding section--authentic-choice">
    <div class="container--ss">
        <div class="row--ss">
            <div class="col--ss col--authentic">
                <div class="visual__wrapper">
                    <img src="{{ 'authentic-choice.png' | asset_img_url: 'master' }}" alt="" srcset="{{ 'authentic-choice.png' | asset_img_url: 'master' }} 1x, {{ 'authentic-choice--2x.png' | asset_img_url: 'master' }} 2x">
                </div>
                <div class="content__wrapper text--center">
                    <h4 class="section__sub-heading">
                        Backed by over 25 years of dental experience
                    </h4>
                    <h3 class="section__heading">
                        Dr. Jen’s is the authentic choice
                    </h3>
                    <p class="section__desc">
                        As a mother, engineer, and dentist, Dr. Jen has spent the last 25 years advancing oral care.
                    </p>
                    <p class="section__desc">
                        Using her training and experience, she has created the next generation of oral care products using natural and proven ingredients.
                    </p>
                    <p class="section__desc">
                        Once you try Dr. Jen's oral care products, you will notice the difference.
                    </p>
                    <p class="section__desc">
                        Not only is Dr. Jen a dentist, she is an engineer, mother, and faculty member at the University of Minnesota Dental School focusing the last 25 years on advancing dental care. No other toothpaste founder has committed more time, training, and development to improve our oral care products.
                    </p>
                    <p class="section__desc">
                        Her peers call her toothpaste the ethical choice because not only are the ingredients healthy, but the paste will strengthen enamel. All of Dr. Jen’s oral care products were developed using uncompromisingly safe and clinically proven ingredients with her patient’s and customers’ oral care as the priority of her mission.
                    </p>
                    <p class="section__desc">
                        She is one of a kind in the natural oral care space.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Authentic choice",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}