<section class="section__padding section--faq">
        <div class="container--ss">
            <div class="row--ss">
                <div class="col--ss">
                    <h3 class="section__heading">
                        FAQs
                    </h3>
                    <div id="accordion--ss" class="accordion--ss">
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Why is Dr. Jen’s nano Hydroxyapatite more expensive than other nano Hydroxyapatite brands?
                                </h6>
                                <span class="accordion__icon">
                                   {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    While most brands only use 1 to 3% for marketing purposes, Dr. Jen uses the required 10% nano Hydroxyapatite to remineralize tooth enamel at the same level as fluoride.  See the clinical study: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252862/
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    How does nano Hydroxyapatite work, and can I see the clinical studies?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Nano Hydroxyapatite is bio-compatible with tooth enamel.  It enters the pores of the enamel and exposed dentin to remineralize enamel helping to prevent tooth decay.  See study https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252862/
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    What percentage of nano Hydroxyapatite and particle size is required to help stop tooth decay, and how much does Dr. Jen’s toothpaste contain?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                   For nano-hydroxyapatite to be as effective as fluoride with remineralizing enamel, it must contain 10% nano Hydroxyapatite.  Cheaper forms of Hydroxyapatite with larger particle sizes are too large to enter pours and will not effectively remineralize tooth enamel.  Dr. Jen uses 10% nano Hydroxyapatite
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Does Dr. Jen’s stop sensitivity?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Yes!  Not only is 10% nano Hydroxyapatite effective at remineralizing enamel, but it is also great at coating exposed dentin and weak enamel to protect teeth from sensitivity.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Can I really return my toothpaste if I am not happy with the results?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Yes!  Dr. Jen offers a 30-day smile guarantee.  If, for any reason you are not happy with her oral care products, let us know within the first 30 days of use and we will provide you with a refund.  No questions asked.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    What is included in the flavoring?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Dr. Jen only uses natural flavoring.  Her cool mint proprietary blend of essential oils effectively kills bad breath bacteria while promoting a healthy mouth microbiome.  Her flavoring includes Peppermint, Spearmint, Black Cherry, Papaya, and Licorice Root.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    What is the RDA (abrasive score) of Dr. Jen’s toothpaste?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    All of Dr. Jen’s toothpastes score below a 50 RDA, which makes her toothpaste gentle yet effective at removing plaque.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Where is Dr. Jen’s Toothpaste manufactured?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    In the USA at an FDA-approved manufacturing facility.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Is Dr. Jen a real Dentist?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Yes! Dr. Jen studied engineering, graduated at the top of her Dental school class, completed a specialty residency in orthodontics, and became a faculty member at the University of Minnesota Dental School.  Dr. Jen has a full time practice in St. Paul, Minnesota.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Do I rinse after brushing or just spit?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    For maximum benefits with remineralizing, it is better not to rinse after brushing with Dr. Jen’s toothpaste.  Just spit.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Why is Silk Floss more prone to break when flossing?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Unlike plastic floss, which is more durable and leaves microplastics in your mouth to be swallowed, silk is natural and easier to break when it comes in contact with sharp surfaces between the teeth.  Sharp surfaces between the teeth could result from a chipped tooth, decay, or filling starting to break down.  If you are breaking floss between any areas of your teeth, bring these areas between teeth to your dentist’s attention to help avoid more advanced dental work in the future. 
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Is Dr. Jen’s toothpaste and mouthwash vegan and gluten-free?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Yes! Dr. Jen’s toothpaste and mouthwash is both vegan and gluten-free.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Can I buy wholesale?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Yes, Dr. Jen <a href="https://drjennatural.com/pages/wholesale-register">partners</a> with dental offices that want to offer her toothpaste for their patients.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Who is Dr. Jen's Nano-hydroxyapatite Toothpaste best for?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    All ages.  Nano Hydroxyapatie is safe for anyone searching for an alternative to fluoride for fighting tooth decay.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Is it safe if swallowed?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Nano Hydroxyapatite is safe if swallowed, however, we do not recommend swallowing toothpaste. It is non-toxic and bio-compatible.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Can it help repair damage from bleaching and other harsh treatments?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    Nano Hydroxyapatite is clinically proven to remineralize tooth enamel.  It helps people suffering from weak enamel and tooth sensitivity.  People stuffing from damaged or decayed enamel need to see a dentist for repair.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Is it good for sensitive teeth?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    10% nano Hydroxyapatite is great for sensitive teeth.  While most sensitive brands use toxic potassium nitrate (the same ingredient used to make explosives) as a pain blocker,  nano Hydroxypaptite coats the teeth to protect them from sensitivity.
                                </p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__head">
                                <h6 class="accordion__heading">
                                    Can it help with gum recession?
                                </h6>
                                <span class="accordion__icon">
                                    {% render 'icon' with 'plus--slim' %}
                                </span>
                            </div>
                            <div class="accordion__body">
                                <p class="accordion__text">
                                    10% nano Hydroxyapatite will protect areas of exposed dentin caused by gum recession eliminating tooth sensitivity. You will have to work with your dentist to manage the periodontal disease.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "FAQs accordion",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}