<div class="Homepage-video">
    <h3>{{section.settings.heading}}</h3>
    <p>{{section.settings.subheading}}</p>
    <iframe src="https://www.youtube.com/embed/{{section.settings.video_url}}?rel=0&autoplay=1" frameborder="0" allowfullscreen=""></iframe>
</div>
{% schema %}
{
   "name": "Homepage-Video",
   "settings" : [

        {
            "type": "text",
            "id": "heading",
            "label": "heading"
        },
        {
            "type": "textarea",
            "id": "subheading",
            "label": "subheading"
        },
        {
            "type": "text",
            "id": "video_url",
            "label": "Youtube Video Identifier e.g. sYN9mXiskBc",
            "default" : "xcJtL7QggTI"
        }
   ],
   "presets": [
    {
        "name": "Homepage-Video"
    }
   ]
}
{% endschema %}