<div class="section__visual">
    <img src="{{ 'mouthrinse__good-stuff.jpg' | asset_img_url:'master' }}" alt="">
</div>
<div class="container--ss">
    <div class="row--ss">
        <div class="col--ss col--content">
            <div class="content__wrapper">
                <h3 class="section__heading">
                    All The Good Stuff <br>
                    & None of The Bad.
                </h3>
                <p class="section__desc">
                    Just like all of Dr.Jen’s other oral care products, the Wellness Mouthrinse was created
                    using all-natural and safe ingredients.
                </p>
                <ul class="list--no-bad-stuff">
                    <li>
                        <h5>
                            Flouride Free
                        </h5>
                    </li>
                    <li>
                        <h5>
                            PH Balanced
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Paraben & Carrageenan Free
                        </h5>
                    </li>
                    <li>
                        <h5>
                            No Propylene Glycol
                        </h5>
                    </li>
                    <li>
                        <h5>
                            No Artificial Colors or Flavors
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Alcohol & Peroxide Free
                        </h5>
                    </li>
                    <li>
                        <h5>
                            Gluten Free
                        </h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col--ss">
          <div class="cta__wrapper">
              <a href="#shopify-section-mouthrinse__product-an"
                  class="btn--dj btn--mouthrinse is--cranberry is--rounded has--border has--shadow">
                  Shop Now
              </a>
              <h5 class="note--moneyback">
                  30-DAY MONEY BACK GUARANTEE
              </h5>
          </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Mouthrinse good stuff",
    "class": "mouthrinse__good-stuff ss--mouthrinse__good-stuff-an",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Mouthrinse good stuff",
        "category": "Mouthrinse page"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}