 <section class=" mouthrinse__features">
            <div class="container--ss">
                <div class="row--ss">
                    <div class="col--ss">
                        <h3 class="section__heading text--center">
                            Nourish your smile with Dr Jen’s Next Generation Mouth Rinse
                        </h3>
                    </div>
                    <div class="col--ss">
                        <div class="features__wrapper">
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="70.602" height="70.856">
                                        <defs>
                                            <clipPath id="a">
                                                <path fill="none" d="M0 0h70.602v70.856H0z" />
                                            </clipPath>
                                        </defs>
                                        <g fill="#fff" clip-path="url(#a)">
                                            <path
                                                d="M3.881 16.536a2.244 2.244 0 0 1 2.687-1.685 39.28 39.28 0 0 1 14.8 6.655 2.244 2.244 0 0 1-2.6 3.658 34.587 34.587 0 0 0-13.2-5.941 2.239 2.239 0 0 1-1.687-2.686m30.93 4.611a1.734 1.734 0 0 0 1.889-.771 1.716 1.716 0 0 0 .207-.5A26.771 26.771 0 0 1 41.67 9.748a1.733 1.733 0 0 0-2.793-2.053 30.394 30.394 0 0 0-5.336 11.352 1.735 1.735 0 0 0 1.268 2.1M50.5 38.19a2.52 2.52 0 1 0-1.976 4.636 38.891 38.891 0 0 1 13.42 9.2 2.52 2.52 0 0 0 3.6-3.529A44.149 44.149 0 0 0 50.5 38.19m-23.567 3.276a3.292 3.292 0 0 0-.986.289 51.046 51.046 0 0 1-20.738 5.138 3.309 3.309 0 1 0 .323 6.61 57.975 57.975 0 0 0 23.239-5.762 3.309 3.309 0 0 0-1.837-6.275m40.558-20.361A1.883 1.883 0 0 0 65 20.15a29.108 29.108 0 0 1-11.883 2.671 1.886 1.886 0 1 0 .1 3.771 33.059 33.059 0 0 0 13.318-3 1.886 1.886 0 0 0 .955-2.491M43.277 56.158a1.885 1.885 0 0 0-2.417 1.13 29.093 29.093 0 0 1-6.324 10.409 1.886 1.886 0 1 0 2.785 2.544 33.041 33.041 0 0 0 7.086-11.664 1.887 1.887 0 0 0-1.13-2.417m-20.966 7.66a2.294 2.294 0 1 0 2.289 2.293 2.293 2.293 0 0 0-2.293-2.293m36.611-44.443a2.294 2.294 0 1 0-2.295-2.293 2.294 2.294 0 0 0 2.295 2.293m-20.472 18.61A3.142 3.142 0 1 0 35.3 41.13a3.142 3.142 0 0 0 3.142-3.142M6.284 36.793a3.142 3.142 0 1 0-3.142 3.142 3.142 3.142 0 0 0 3.142-3.142" />
                                            <path
                                                d="M24.67 7.305a33.217 33.217 0 0 0-12.685 5.684 2.153 2.153 0 0 1-2.5-3.506A37.71 37.71 0 0 1 23.699 3.11a2.155 2.155 0 0 1 .97 4.2m45.72 28.208a1.472 1.472 0 0 0-1.6-.671 1.457 1.457 0 0 0-.422.173 22.709 22.709 0 0 1-8.941 3.221 1.472 1.472 0 0 0 .444 2.91 25.792 25.792 0 0 0 10.019-3.612 1.472 1.472 0 0 0 .5-2.021m-56.79 5.535a1.472 1.472 0 0 0-1.511-.85 1.5 1.5 0 0 0-.44.123A22.708 22.708 0 0 1 2.399 42.5a1.472 1.472 0 0 0 .109 2.941A25.8 25.8 0 0 0 12.872 43a1.471 1.471 0 0 0 .726-1.951m32.324-20.141A41.815 41.815 0 0 0 58.478 9.056 2.386 2.386 0 1 0 54.584 6.3a36.822 36.822 0 0 1-11.206 10.571 2.386 2.386 0 1 0 2.544 4.037m-40.9.661a3.091 3.091 0 1 0-2.423 5.687 47.7 47.7 0 0 1 16.466 11.282 3.091 3.091 0 1 0 4.413-4.329 54.152 54.152 0 0 0-18.453-12.64m21.435-.65a2.52 2.52 0 0 0 3.456-.87 44.143 44.143 0 0 0 6.161-17.16 2.52 2.52 0 1 0-4.984-.738 38.9 38.9 0 0 1-5.5 15.311 2.52 2.52 0 0 0 .869 3.456m21.7 26.835a2.11 2.11 0 0 0-3.563 2.262 32.558 32.558 0 0 1 4.9 12.712A2.11 2.11 0 1 0 53.653 62a36.958 36.958 0 0 0-5.491-14.245M22.645 58.374a33.031 33.031 0 0 0-13.562-1.546 1.886 1.886 0 1 0 .316 3.759 29.1 29.1 0 0 1 12.1 1.382 1.889 1.889 0 1 0 1.143-3.6m19.837-16.058a3.046 3.046 0 0 0-4.295.305 53.332 53.332 0 0 0-10.948 19.119 3.044 3.044 0 1 0 5.775 1.929 46.977 46.977 0 0 1 9.774-17.057 3.045 3.045 0 0 0-.305-4.3m-8.8-17.572a3.478 3.478 0 0 0 1.431 4.7 60.9 60.9 0 0 0 24.069 7.334 3.477 3.477 0 1 0 .681-6.921A53.663 53.663 0 0 1 38.385 23.3a3.476 3.476 0 0 0-4.7 1.431m13.024 39.793a1.59 1.59 0 1 0 1.59 1.59 1.59 1.59 0 0 0-1.59-1.59m10.45-14.042a2.164 2.164 0 1 0-2.16 2.164 2.164 2.164 0 0 0 2.164-2.164m9.525-18.5a2.294 2.294 0 1 0-2.294-2.294 2.294 2.294 0 0 0 2.294 2.294M20.86 53.656a1.636 1.636 0 1 0-1.636 1.636 1.636 1.636 0 0 0 1.636-1.636M9.499 34.5a1.071 1.071 0 1 0-1.071 1.071A1.071 1.071 0 0 0 9.499 34.5m49.418 21.124a2.687 2.687 0 1 0 2.682 2.687 2.687 2.687 0 0 0-2.686-2.687m6.719-13.412a2.294 2.294 0 1 0 2.294 2.294 2.294 2.294 0 0 0-2.294-2.294M46.565 37.9a2.294 2.294 0 1 0-2.294 2.294 2.294 2.294 0 0 0 2.294-2.294m-15.9-5.913a2.641 2.641 0 1 0-2.641 2.64 2.641 2.641 0 0 0 2.641-2.64M46.709 8.432a3.142 3.142 0 1 0-3.143-3.142 3.142 3.142 0 0 0 3.143 3.142m-25.466 3.22a3.142 3.142 0 1 0 3.142 3.142 3.142 3.142 0 0 0-3.142-3.142" />
                                        </g>
                                    </svg>
                                </div>
                                <h5 class="feature__title">
                                    Prebiotic <br>
                                    Blend
                                </h5>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="49.183" height="64.508"
                                        viewBox="0 0 49.183 64.508">
                                        <g id="Group_2515" data-name="Group 2515" transform="translate(-9.84 0)">
                                            <path id="Path_740" data-name="Path 740"
                                                d="M164.789,64.509a23.517,23.517,0,0,1-9.249-1.877,24.043,24.043,0,0,1-12.715-12.787,24.109,24.109,0,0,1-1.891-9.361,36.559,36.559,0,0,1,3.578-15.066,66.61,66.61,0,0,1,7.764-12.724A89,89,0,0,1,163.531.442a1.808,1.808,0,0,1,2.362,0,89.5,89.5,0,0,1,13.6,15.355,1.808,1.808,0,1,1-2.971,2.06,88.94,88.94,0,0,0-11.8-13.6,90.263,90.263,0,0,0-9.61,10.686,62.879,62.879,0,0,0-7.319,12,32.971,32.971,0,0,0-3.24,13.533,20.431,20.431,0,0,0,5.962,14.46,20,20,0,0,0,14.278,5.958h.038a20.006,20.006,0,0,0,14.294-6.013A20.429,20.429,0,0,0,185.029,40.4a28.086,28.086,0,0,0-.86-6.643,1.808,1.808,0,1,1,3.51-.866,31.692,31.692,0,0,1,.965,7.5,24.107,24.107,0,0,1-6.949,17.028,23.767,23.767,0,0,1-7.573,5.176,23.528,23.528,0,0,1-9.287,1.913h-.045"
                                                transform="translate(-131.095 -0.001)" fill="#fff" />
                                            <path id="Path_741" data-name="Path 741"
                                                d="M329.693,287.057a1.8,1.8,0,0,1-1.278-.529L317.62,275.733a1.808,1.808,0,1,1,2.556-2.556l9.516,9.516,21.2-21.2a1.808,1.808,0,0,1,2.556,2.556l-22.474,22.474a1.8,1.8,0,0,1-1.278.529"
                                                transform="translate(-294.952 -242.748)" fill="#fff" />
                                        </g>
                                    </svg>
                                </div>
                                <h5 class="feature__title">
                                    PH Balanced
                                </h5>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <svg id="Group_2477" data-name="Group 2477" xmlns="http://www.w3.org/2000/svg"
                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="73.446" height="70.052"
                                        viewBox="0 0 73.446 70.052">
                                        <defs>
                                            <clipPath id="clip-path">
                                                <rect id="Rectangle_1077" data-name="Rectangle 1077" width="73.446"
                                                    height="70.052" fill="none" />
                                            </clipPath>
                                        </defs>
                                        <g id="Group_2476" data-name="Group 2476" clip-path="url(#clip-path)">
                                            <path id="Path_764" data-name="Path 764"
                                                d="M171.644,13.69A77.174,77.174,0,0,0,165.884,0c-5.79,5.989-5.79,5.989-8.961,8.769-9.039,7.923-22.5,13.44-29.477,23.457-.222.318-.423.65-.622.982.052.036.106.071.158.108a37.086,37.086,0,0,1,9.233,8.671,19.783,19.783,0,0,1,3.313,11.992l.6-.56,1.657-1.527.408-.376.1-.094c-.014.016.068-.068-.025.029l.023-.024.047-.048.186-.192.746-.758c.492-.5.992-.991,1.46-1.491l1.362-1.5c.926-.961,1.7-1.988,2.519-2.92.8-.949,1.494-1.91,2.213-2.791l1.907-2.6c1.126-1.684,2.146-3.146,2.9-4.4.787-1.234,1.37-2.253,1.77-2.936l.627-1.045-.35,1.167c-.249.755-.54,1.879-1.1,3.263-.509,1.409-1.211,3.081-2.1,4.966l-1.51,2.964c-.582,1.016-1.186,2.1-1.868,3.19a65.986,65.986,0,0,1-4.866,6.78l-.705.873-.18.219-.045.055-.023.027-.074.078-.094.1-.376.409L143.21,56.5l-1.565,1.688-1.792,1.669c-.7.653-1.412,1.313-2.145,1.95a18.122,18.122,0,0,1-2.729,4.314,20.222,20.222,0,0,0,18.065-.087c8.24-4.484,15.024-13.894,17.722-22.246,3.138-9.714,3.877-20.245.878-30.092"
                                                transform="translate(-100.1)" fill="#fff" />
                                            <path id="Path_765" data-name="Path 765"
                                                d="M33.3,135.536c.044-.048.081-.1.124-.152a17.739,17.739,0,0,0,4.1-9.464,18.319,18.319,0,0,0-2.855-12.656,34.978,34.978,0,0,0-8.8-8.237c-4.522-3.188-9.485-6-13.365-9.4A80.155,80.155,0,0,1,5.762,89.03a58.03,58.03,0,0,0-4.332,10.3,37.881,37.881,0,0,0,.66,22.63c2.029,6.281,7.13,13.358,13.327,16.73.27.147.546.283.826.409.093.042.189.078.284.118.188.08.377.159.569.23.114.042.231.079.346.118.176.06.351.118.529.171.124.036.249.069.374.1.173.046.346.089.52.129.129.029.258.055.388.08q.262.051.525.092c.13.02.261.04.392.057.178.023.357.042.536.059.129.012.258.024.387.033.185.012.371.019.557.025.123,0,.246.01.37.011.139,0,.278,0,.417-.008.206,0,.413-.009.62-.021.143-.008.285-.022.428-.034.2-.017.4-.036.594-.06.146-.018.291-.04.436-.062.194-.03.387-.062.579-.1q.218-.041.435-.089c.19-.042.38-.087.569-.136.142-.037.284-.073.425-.114.19-.054.378-.114.566-.176.135-.044.271-.088.4-.135.193-.069.384-.145.573-.222.124-.05.249-.1.371-.15.207-.09.409-.188.611-.286.1-.049.2-.094.3-.145.3-.154.591-.316.876-.49-.7-.515-1.368-1.066-2.045-1.588a33.7,33.7,0,0,1-2.843-2.466l-1.347-1.255-1.177-1.27-1.147-1.247-.283-.307-.07-.077-.055-.059-.017-.021-.034-.041-.135-.164-.531-.656a49.657,49.657,0,0,1-3.659-5.1c-.513-.823-.968-1.635-1.405-2.4l-1.136-2.229c-.67-1.418-1.2-2.675-1.581-3.734-.422-1.041-.641-1.887-.829-2.454l-.263-.878.471.786c.3.513.739,1.28,1.331,2.208.563.943,1.331,2.042,2.178,3.309l1.434,1.957c.541.662,1.064,1.385,1.664,2.1.617.7,1.2,1.473,1.895,2.2l1.024,1.128c.352.376.728.742,1.1,1.121l.561.57.14.145.035.036.017.018-.031-.033,0,0,0,0,0,0,.008.008h0l.076.07.307.283,1.246,1.148,1.269,1.178,1.311,1.063c.883.708,1.744,1.456,2.733,2.121.93.644,1.83,1.352,2.818,1.946l.04.026"
                                                transform="translate(0 -70.27)" fill="#fff" />
                                        </g>
                                    </svg>
                                </div>
                                <h5 class="feature__title">
                                    100% safe <br>
                                    All-Natural
                                </h5>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="52" height="74.799"
                                        viewBox="0 0 52 74.799">
                                        <path id="Path_742" data-name="Path 742"
                                            d="M389.789,509.786a1.358,1.358,0,0,0-1.138.563,3.019,3.019,0,0,0-.429,1.812,3.08,3.08,0,0,0,.429,1.825,1.4,1.4,0,0,0,2.265,0,3.016,3.016,0,0,0,.441-1.825,2.957,2.957,0,0,0-.441-1.812,1.37,1.37,0,0,0-1.127-.563"
                                            transform="translate(-350.318 -460.014)" fill="#fff" />
                                        <path id="Path_743" data-name="Path 743"
                                            d="M266.988,429.439a3.007,3.007,0,0,0,.441-1.824,2.952,2.952,0,0,0-.441-1.812,1.419,1.419,0,0,0-2.265,0,3.017,3.017,0,0,0-.429,1.812,3.074,3.074,0,0,0,.429,1.824,1.4,1.4,0,0,0,2.265,0"
                                            transform="translate(-238.49 -383.721)" fill="#fff" />
                                        <path id="Path_744" data-name="Path 744"
                                            d="M135.619,434.611a2.806,2.806,0,0,0-.735-1.176,1.669,1.669,0,0,0-1.152-.416,1.62,1.62,0,0,0-1.138.416,2.957,2.957,0,0,0-.735,1.176,7.821,7.821,0,0,0-.4,1.8,19.888,19.888,0,0,0-.123,2.315,20.2,20.2,0,0,0,.123,2.326,7.813,7.813,0,0,0,.4,1.813,2.958,2.958,0,0,0,.735,1.176,1.615,1.615,0,0,0,1.138.416,1.665,1.665,0,0,0,1.152-.416,2.807,2.807,0,0,0,.735-1.176,8.366,8.366,0,0,0,.392-1.813,20.2,20.2,0,0,0,.123-2.326,19.888,19.888,0,0,0-.123-2.315,8.379,8.379,0,0,0-.392-1.8"
                                            transform="translate(-118.51 -390.742)" fill="#fff" />
                                        <path id="Path_745" data-name="Path 745"
                                            d="M29.318,1.719a4.056,4.056,0,0,0-6.632,0C20.367,5,0,34.233,0,48.8a26,26,0,0,0,52,0C52,34.233,31.637,5,29.318,1.719m-9.6,52.84a5.213,5.213,0,0,1-4.5,2.29,5.21,5.21,0,0,1-4.493-2.29A11.243,11.243,0,0,1,9.1,47.983a15.012,15.012,0,0,1,.429-3.772,8.313,8.313,0,0,1,1.237-2.768A5.514,5.514,0,0,1,12.7,39.729a5.373,5.373,0,0,1,2.523-.587,5.216,5.216,0,0,1,4.5,2.29,11.2,11.2,0,0,1,1.628,6.552,11.249,11.249,0,0,1-1.628,6.576m7.126-43.023h0a1.58,1.58,0,0,1,2.183.453,177.12,177.12,0,0,1,9.357,15.863,1.579,1.579,0,0,1-.681,2.125,1.589,1.589,0,0,1-.721.174,1.572,1.572,0,0,1-1.4-.854,173.571,173.571,0,0,0-9.187-15.574,1.581,1.581,0,0,1,.45-2.186M24.213,47.419a4.888,4.888,0,0,1-1.177-3.526,4.891,4.891,0,0,1,1.177-3.528,4.174,4.174,0,0,1,3.159-1.225,4.176,4.176,0,0,1,3.16,1.225,4.894,4.894,0,0,1,1.176,3.528,4.892,4.892,0,0,1-1.176,3.526,4.172,4.172,0,0,1-3.16,1.225,4.17,4.17,0,0,1-3.159-1.225m2.693,9.087,9.577-16.973h3.4L30.311,56.507Zm15.725-.833a4.176,4.176,0,0,1-3.16,1.225,4.176,4.176,0,0,1-3.16-1.225,4.893,4.893,0,0,1-1.176-3.527,4.9,4.9,0,0,1,1.176-3.527,4.176,4.176,0,0,1,3.16-1.225,4.176,4.176,0,0,1,3.16,1.225,4.9,4.9,0,0,1,1.176,3.527,4.893,4.893,0,0,1-1.176,3.527"
                                            transform="translate(0 0.001)" fill="#fff" />
                                    </svg>
                                </div>
                                <h5 class="feature__title">
                                    Alcohol free <br>
                                    No harsh chemicals
                                </h5>
                            </div>
                            <div class="feature__item">
                                <div class="feature__icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="65.391" height="74.314"
                                        viewBox="0 0 65.391 74.314">
                                        <path id="Path_727" data-name="Path 727"
                                            d="M32.279,66.539a4.913,4.913,0,0,1-1.433-.207,4.027,4.027,0,0,1-2.828-4.1c0-13.029-1.686-14.064-3.893-14.064S20.233,49.2,20.233,62.228a4.027,4.027,0,0,1-2.828,4.1,5.263,5.263,0,0,1-5.6-1.786c-.1-.156-.248-.338-.416-.556C9.862,62.02,6.316,57.447,5.55,45.558-.079,38.437-1.554,29.8,1.712,22.9A15.128,15.128,0,0,1,15.6,13.955a23.759,23.759,0,0,1,8.526,1.512,23.759,23.759,0,0,1,8.526-1.512A15.128,15.128,0,0,1,46.54,22.9c3.265,6.9,1.791,15.538-3.838,22.659-.766,11.889-4.312,16.462-5.838,18.432-.168.218-.311.4-.416.556a5.125,5.125,0,0,1-4.169,1.993M24.126,45.049c6.49,0,7.007,7.445,7.007,17.179,0,.936.406,1.06.623,1.126a2.254,2.254,0,0,0,2.108-.548c.137-.2.319-.441.537-.723,1.37-1.766,4.578-5.906,5.221-17.2a1.559,1.559,0,0,1,.35-.9c5.2-6.349,6.6-13.73,3.751-19.748a12.077,12.077,0,0,0-11.073-7.163,20.592,20.592,0,0,0-7.912,1.51,1.569,1.569,0,0,1-1.227,0,20.592,20.592,0,0,0-7.912-1.51A12.077,12.077,0,0,0,4.527,24.232c-2.85,6.018-1.447,13.4,3.751,19.748a1.559,1.559,0,0,1,.35.9c.643,11.3,3.851,15.436,5.221,17.2.218.282.4.519.537.721a2.263,2.263,0,0,0,2.108.55c.216-.065.623-.19.623-1.126,0-9.734.517-17.179,7.007-17.179"
                                            transform="translate(0 7.775)" fill="#fff" />
                                        <path id="Path_728" data-name="Path 728"
                                            d="M19.551,22.348a18.089,18.089,0,0,0-4.6-4.471L16.4,15.121a21.124,21.124,0,0,1,5.631,5.347Z"
                                            transform="translate(8.33 8.424)" fill="#fff" />
                                        <path id="Path_729" data-name="Path 729"
                                            d="M26.336,18.617a1.555,1.555,0,0,1-1.392-.861L22.58,13.03l-4.726-2.362a1.558,1.558,0,0,1,0-2.787L22.58,5.518,24.944.792a1.621,1.621,0,0,1,2.786,0l2.362,4.726,4.726,2.362a1.558,1.558,0,0,1,0,2.787L30.092,13.03,27.73,17.756a1.559,1.559,0,0,1-1.394.861m-4.3-9.343,2.406,1.2a1.556,1.556,0,0,1,.7.7l1.2,2.4,1.2-2.4a1.563,1.563,0,0,1,.7-.7l2.406-1.2-2.406-1.2a1.563,1.563,0,0,1-.7-.7l-1.2-2.4-1.2,2.4a1.556,1.556,0,0,1-.7.7Z"
                                            transform="translate(9.469 0)" fill="#fff" />
                                        <path id="Path_730" data-name="Path 730"
                                            d="M38.893,26.732a1.555,1.555,0,0,1-1.392-.861l-2.882-5.765-5.765-2.881a1.558,1.558,0,0,1,0-2.787l5.765-2.881L37.5,5.792a1.621,1.621,0,0,1,2.786,0l2.881,5.765,5.765,2.881a1.558,1.558,0,0,1,0,2.787l-5.765,2.881-2.881,5.765a1.559,1.559,0,0,1-1.394.861m-5.861-10.9,3.443,1.721a1.559,1.559,0,0,1,.7.7l1.721,3.443,1.722-3.443a1.556,1.556,0,0,1,.7-.7l3.443-1.721-3.443-1.721a1.556,1.556,0,0,1-.7-.7L38.893,9.97l-1.721,3.443a1.559,1.559,0,0,1-.7.7Z"
                                            transform="translate(15.598 2.785)" fill="#fff" />
                                    </svg>
                                </div>
                                <h5 class="feature__title">
                                    Cool mint flavor for <br>
                                    Fresh Breath
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% schema %}
  {
    "name": "Mouthrinse features",
    "class": "section__padding mouthrinse__features ss--mouthrinse__features-an",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Mouthrinse features",
        "category": "Features and icons"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}