<div class="section__visual">
    <img src="{{ 'mouthrinse__approved.jpg' | asset_img_url: 'master' }}" alt="">
</div>
<div class="container--ss">
    <div class="row--ss">
        <div class="col--ss col--content">
            <div class="content__wrapper">
                <h3 class="section__heading">
                    Dentist Developed <br>
                    & approved
                </h3>
                <p class="section__desc">
                    Dr.Jen’s Wellness Mouth Rinse is the only of it’s kind to offer a safe and effective
                    prebiotic formula proven to naturally freshen breath while fueling a healthy mouth
                    microbiome.
                </p>
                <p class="section__desc">
                    This supports overall health while helping to fight cavities and periodontal disease.
                </p>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Mouthrinse approved",
    "class": "mouthrinse__approved ss--mouthrinse__approved-an",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Mouthrinse approved",
        "category": "Mouthrinse page"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}