<div class="section__visual">
    <img src="{{ 'mouthrinse__power.png' | asset_img_url: 'master' }}" alt="">
</div>
<div class="container--ss">
    <div class="row--ss">
        <div class="col--ss col--content">
            <div class="content__wrapper">
                <h3 class="section__heading">
                    Power Your smile <br>
                    with Prebiotics.
                </h3>
                <p class="section__desc">
                    Did you know prebiotics promote the growth of healthy bacteria, not only in your gut,
                    but also your mouth?
                </p>
                <p class="section__desc">
                    Where normal mouth rinses use harsh chemical ingredients to kill all the bacteria in
                    your mouth - both good and bad - Dr.Jens unique prebiotic formula supports the good
                    bacteria needed to optimize our oral wellness.
                </p>
                <p class="section__desc">
                  <strong>Ingredients:</strong> Water, Xylitol, Aloe Vera, Glycerin, Menthol, Stevia Rebaudiana Leaf Extract, Mentha Arvensis (Peppermint) Oil,  Potassium Sorbate,  Sodium Bicarbonate, Black Cherry Extract, Papaya Extract, Spirulina, Vitamin C, Sea Salt, Citric Acid, Inulin Root Extract, Guar Gum, Pectin
                </p>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Mouthrinse power",
    "class": "mouthrinse__power ss--mouthrinse__power-an",
    "tag": "section",
    "settings": [],
    "presets": [
      {
        "name": "Mouthrinse power",
        "category": "Mouthrinse page"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}