<section class="section__padding section--nhap-difference">
        <div class="container--ss">
            <div class="row--ss">
                <div class="col--ss col--visual">
                    <div class="visual__wrapper">
                        <div class="visual__comparison">
                          <img src="{{ 'nhap--before.jpg' | asset_img_url: 'master' }}" alt="">
                            <p>
                                Before
                            </p>
                        </div>
                        <div class="visual__comparison">
                          <img src="{{ 'nhap--after.jpg' | asset_img_url: 'master' }}" alt="">
                            <p>
                                After
                            </p>
                        </div>
                    </div>
                    <p class="visual__caption">
                        3000x magnification of a human tooth before and after use of Nan0-Hydroxyapatite.
                    </p>
                </div>
                <div class="col--ss col--content">
                    <div class="content__wrapper">
                        <h3 class="section__heading">
                            The 10% Difference
                        </h3>
                        <p class="section__desc">
                            Nano-hydroxyapatite has been clinically proven to remineralize tooth enamel at the same
                            level as fluoride when used at the correct concentration, 10%, and the correct partial size.
                            While other brands may include nHAp, Dr. Jen's includes the full 10% for optimal results.
                        </p>
                        <p class="section__desc">
                            Read full study:
                            <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252862/">
                                https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4252862/
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row--ss">
              <a href="/collections/wholesale" class="button button--primary" style="background-color: #df477f; background: #df477f; margin: 50px auto 0 auto">Shop Now</a>
            </div>
        </div>
    </section>

{% schema %}
  {
    "name": "nHap difference",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}