<section class="section__padding section--nhap-compare">
    <div class="container--ss">
        <div class="row--ss">
            <div class="col--ss">
                <div class="content__wrapper text--center">
                    <h3 class="section__heading">
                        Why Dental Professionals Choose Dr. Jen
                    </h3>
                    <p class="section__desc">
                        Dr. Jen’s toothpaste is the #1 authentic & all-natural toothpaste on the market that is
                        proven to include 10% concentration of Nano-Hydroxyapatite - The correct amount required
                        to
                        support results.
                    </p>
                </div>
            </div>
            <div class="col--ss">
                <div class="visual__caption text--center hide--desktop">
                    <svg xmlns="http://www.w3.org/2000/svg" width="188.521" height="48.77">
                        <defs>
                            <clipPath id="a">
                                <path fill="none" d="M0 0h188.521v48.77H0z" />
                            </clipPath>
                        </defs>
                        <g fill="#27a5d2" clip-path="url(#a)">
                            <path
                                d="M0 21.976h2.973V3.363H0V1.027h8.741c8.1 0 13.376 4.494 13.376 11.395 0 7.042-4.919 11.89-13.482 11.89H0Zm8.953 0c6.971 0 10.475-3.893 10.475-9.59 0-5.591-4.176-9.024-10.758-9.024H5.626v18.614ZM24.106 21.977h2.973V3.363h-2.973V1.027h8.847c5.131 0 8.457 2.584 8.457 6.759 0 3.185-2.052 5.414-4.989 6.37l4.883 7.821h2.8v2.335h-4.6l-5.733-9.519c-.424.036-.884.071-1.344.071-.92 0-2.017-.035-2.69-.071v7.184h3.034v2.335h-8.67Zm14.65-14.12c0-2.937-2.335-4.494-5.945-4.494h-3.079v9.129c.708.035 1.7.071 2.831.071 3.539 0 6.193-1.628 6.193-4.706M52.651 23.168a2.031 2.031 0 1 1-2.031-2.031 2.031 2.031 0 0 1 2.031 2.031M61.243 26.074a3.854 3.854 0 0 0-3.849 3.849v1.442c0 10.411 7.946 17.405 19.773 17.405a18.716 18.716 0 0 0 18.948-18.887V1.037h-25.6a3.85 3.85 0 0 0 0 7.7h17.9v21.147a10.973 10.973 0 0 1-11.248 11.188 16.82 16.82 0 0 1-7.034-1.453 8.5 8.5 0 0 1-5.04-8.253v-1.447a3.854 3.854 0 0 0-3.849-3.849M137.418 38.439h-31.344v7.838h31.344a3.919 3.919 0 1 0 0-7.838M133.948 19.703h-27.874v7.837h27.874a3.928 3.928 0 0 0 0-7.837M137.418 1.396h-31.344v7.837h31.344a3.919 3.919 0 1 0 0-7.837M184.779-.001c-2.351 0-3.811 1.54-3.811 4.018v29.682L160.03 4.051c-1.672-2.887-3.238-4.052-5.423-4.052-2.864 0-4.643 1.885-4.643 4.919v38.881c0 2.479 1.46 4.019 3.811 4.019 2.272 0 3.741-1.578 3.741-4.019V14.016l20.937 29.748c1.673 2.887 3.258 4.052 5.495 4.052 2.821 0 4.573-1.885 4.573-4.92V4.018c0-2.441-1.469-4.018-3.742-4.018" />
                        </g>
                    </svg>
                    <h5 class="content__title">
                        Vs. Leading Nano-Hydroxyapatite Natural toothpastes
                    </h5>
                </div>
            </div>
            <div class="col--ss">
                <div class="visual__wrapper">
                  <img src="{{ 'nhap-compare--desktop.png' | asset_img_url: 'master' }}" alt="" class="hide--mobile" />
                  <img src="{{ 'nhap-compare--mobile.png' | asset_img_url: 'master' }}" alt="" class="hide--desktop" />
                </div>
            </div>
        </div>
        <div class="row--ss">
          <a href="/collections/wholesale" class="button button--primary" style="background-color: #df477f; background: #df477f; margin: 40px auto 0 auto">Shop Now</a>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "nHap compare",
    "settings": []
}
{% endschema %}