<section class="section__padding section--nhap-history">
    <div class="container--ss">
        <div class="row--ss">
            <div class="col--ss col--visual">
                <div class="visual__wrapper">
                    <img src="{{ 'nhap-history.png' | asset_img_url: 'master' }}" alt="">
                </div>
            </div>
            <div class="col--ss col--content">
                <div class="content__wrapper">
                    <h3 class="section__heading">
                        History of Nano-Hydroxyapatite (nHAp)
                    </h3>
                    <p class="section__desc">
                        In the late 1970’s that NASA scientists searched for a cure for Astronauts returning from
                        zero gravity environments that were experiencing bone and tooth enamel loss.
                    </p>
                    <p class="section__desc">
                        Their treatment included introducing Nano-Hydroxyapatite (a naturally occurring mineral that
                        makes up 97% of tooth enamel) into toothpaste to help restore and remineralize tooth enamel.
                    </p>
                    <p class="section__desc">
                        The mineral was so effective that a Japanese toothpaste company, Sangi, purchased the patent
                        from NASA in 1980 to use in toothpaste. The rest is history.
                    </p>
                    <p class="section__desc">
                        For over 40 years, nHAp in toothpaste has proven to be be the most effective solution for
                        helping to stop tooth day all over the world.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "nHap history",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}