<section class="section__padding section--page-intro">
    <div class="container--ss">
        <div class="row--ss">
            <div class="col--ss">
                <div class="text--center">
                    <h1 class="page__heading">
                        The Science Behind Nano-Hydroxyapatite
                    </h1>
                    <h2 class="page__sub-heading">
                        Introducing Nano-Hydroxyapatite
                    </h2>
                    <p class="page__desc">
                        Scientifically proven to strengthen and protect your teeth.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

{% schema %}
  {
    "name": "Page intro",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}