<div class="wholesale_form__container">
    <div class="globo-formbuilder" data-id="MTM3Mg=="></div>
</div>
{% schema %}
{
   "name": "Wholesale form",
   "settings" : [

],
   "presets": [
    {
        "name": "Wholesale form"
    }
   ]
}
{% endschema %}