<main id="page--amazon-review">
  <section id="section--main">
    <h1>Thank you for your review. Please submit your email below for your <em>free floss</em>.</h1>
    <div class="klaviyo-form-R864zd"></div>
    <p>Dr. Jen's non-toxic plastic-free premium silk floss imported from Italy. <em><b>A $12.00 value.</b></em></p>
    <img src="https://cdn.shopify.com/s/files/1/0599/0265/6680/files/web_RitchieCreative_r1_7827.jpg?v=1672792385" />
  </section>
</main>


<style>
  #page--amazon-review section {
    margin: 40px 0;
  }
  #section--main {
    text-align: center;
  }
  #section--main h1 {
    font-size: 32px;
    margin-bottom: 0;
    padding: 0 10px;
    max-width: 700px;
    margin: 0 auto;
  }
  #section--main em {
    color: #FF6B00;
  }
  #section--main img {
    width: 500px;
  }
  #section--main p {
    padding: 0 10px;
  }
</style>