{{ 'page--mouthrinse.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.0/slick-theme.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" defer></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" defer></script>

<div id="page--mouthrinse" class="page__wrapper">
  {% section 'mouthrinse__hero-an' %}
  {% section 'mouthrinse__features-an' %}
  {% section 'mouthrinse__power-an' %}
  {% section 'mouthrinse__approved-an' %}
  {% section 'mouthrinse__prebiotics-an' %}
  {% section 'mouthrinse__product-an' %}
  {% section 'guarantee--moneyback-an' %}
  {% section 'mouthrinse__vitamins-an' %}
  {% section 'mouthrinse__good-stuff-an' %}
  {% section 'mouthrinse__testimonials-an' %}
</div>